body {
  display: flex;
  margin: 0;
}

header {
	text-align: center;
	color: #000000;
	font-family: 'Merriweather', serif;
}

section {
	display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
    width: 100vw;
}

p {
	color: #000;
	width: 50%;
	font-family: 'Mansalva', cursive;

}
img {
	display: flex;
	justify-content: center;
	width: 131px;
}

@media (max-width: 360px) {
	
}